extends ../layouts/base

block variables
	- pageLang = ""
	- pageTitle = "Page name"
	- pageDescription = "Page-specific description"
	- pageKeywords = "Page-specific keywords"
	- pageUrl = ""


block body-content
	p Coming soon...

